<a href="https://colab.research.google.com/github/Dinar2202/UDINUS/blob/main/Tugas_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Pengumpulan Data

Dataset yang digunakan adalah dataset yang bersumber dari link berikut : https://archive.ics.uci.edu/dataset/45/heart+disease
Dataset yang dipakai adalah dataset dengan nama file "Hungarian.data

 2. Menelaah Data
Mengimpor modul-modul yang diperlukan, seperti pandas, numpy, re, dan itertools. Modul-modul ini digunakan untuk melakukan operasi data,
manipulasi string, dan iterasi.

In [1]:
import pandas as pd
import re
import numpy as np
import itertools

Load Data

masukkan dataset yang dibutuhkan dengan alamat penyimpanan yang tepat dan simpan kedalam sebuah variabel
#dir adalah variabel yang digunakan untuk menyimpan data

In [2]:
dir = 'hungarian.data'

 iterasi untuk membaca dataset

In [20]:
with open(dir, encoding='Latin1') as file:
  lines = [line.strip() for line in file]
lines[0:10]

IndentationError: ignored

setelah membaca file dataset lakukan iterasi sesuai jumlah kolom dan baris yang ada pada dataset.

In [ ]:
data = itertools.takewhile( lambda x: len(x) == 76,
(' '.join(lines[i:(i + 10)]).split() for i in range(0, len(lines), 10))
)

df = pd.DataFrame.from_records(data)
df.head()

menampilan informasi dari file dataset yang sudah dimasukkan kedalam dataframe

In [ ]:
df = df.iloc[:,:-1]
df = df.drop(df.columns[0], axis=1)
df = df.astype(float)
df.info()

Pada kondisi dataset yang kita miliki terdapat kondisi khusus yang dimana sebelum memasuki tahap validasi data untuk tipe data object atau string perlu dilakukan penghapusan fitur dikarenakan pada dataset ini nilai null disimbolkan dengan angka -9.0

mengubah tipe data file dataset menjadi tipe data float sesuai dengan nilai null yaitu -9.0

3. Validasi Data

Pada tahap ini bertujuan untuk mengetahui dan memahami isi dari dataset agar dapat dilakukan penanganan sesuai dengan kondisinya.

#df.replace(-9.0, np.nan, inplace=True)
mengubah nilai -9.0 menjadi nilai null value sesuai dengan deskripsi dataset

#df.isnull().sum()
menghitung jumlah nilai null value

In [ ]:
df.replace(-9.0, np.nan, inplace=True)
df.isnull().sum()
df.head()

4. Menentukan Object Data

Memilih 14 fitur yang akan digunakan sesuai dengan deskripsi dataset

In [ ]:
df_selected = df.iloc[:, [1, 2, 7,8,10,14,17,30,36,38,39,42,49,56]]


df_selected.head()

In [ ]:
df_selected.info()

mengganti nama kolom sesuai dengan 14 nama kolom yang ada pada deskripsi dataset

In [ ]:
column_mapping = { 2: 'age',
3: 'sex',
8: 'cp',
9: 'trestbps',
11: 'chol',
15: 'fbs',
18: 'restecg',
31: 'thalach',
37: 'exang',
39: 'oldpeak',
40: 'slope',
43: 'ca',
50: 'thal',
57: 'target'
}

df_selected.rename(columns=column_mapping, inplace=True)

In [ ]:
df_selected.info()

menghitung jumlah fitur pada dataset

In [ ]:
df_selected.value_counts()

 5. Membersihkan Data

Sebelum melakukan pemodelan dilakukan pembersihan data agar model yang dihasilkan lebih akurat menghitung jumlah null values yang ada diddalam dataset

In [ ]:
df_selected.isnull().sum()

Berdasarkan output kode program diatas ada beberapa fitur yang hampir 90% datanya memiliki nilai null sehingga perlu dilakukan penghapusan fitur menggunakan fungsi drop

In [ ]:
columns_to_drop = ['ca', 'slope','thal']
df_selected = df_selected.drop(columns_to_drop, axis=1)
df_selected.isnull().sum() age

Dikarenakan masih ada nilai null dibeberapa kolom fitur maka akan dilakukan pengisian nilai null menggunakan nilai mean di setiap kolomnya

In [ ]:
meanTBPS = df_selected['trestbps'].dropna() meanChol = df_selected['chol'].dropna()
meanfbs = df_selected['fbs'].dropna()
meanRestCG = df_selected['restecg'].dropna() meanthalach = df_selected['thalach'].dropna() meanexang = df_selected['exang'].dropna()

meanTBPS = meanTBPS.astype(float) meanChol = meanChol.astype(float) meanfbs = meanfbs.astype(float)
meanthalach = meanthalach.astype(float) meanexang = meanexang.astype(float)
meanRestCG = meanRestCG.astype(float)

meanTBPS = round(meanTBPS.mean()) meanChol = round(meanChol.mean()) meanfbs = round(meanfbs.mean())
meanthalach = round(meanthalach.mean()) meanexang = round(meanexang.mean())
meanRestCG = round(meanRestCG.mean())

mengubah nilai null menjadi nilai mean yang sudah ditentukan sebelumnya

In [ ]:
fill_values = {'trestbps': meanTBPS, 'chol': meanChol, 'fbs': meanfbs,
'thalach':meanthalach,'exang':meanexang,'restecg':meanRestCG}  dfClean = df_selected.fillna(value=fill_values)

dfClean.info()